<%= form_for @proyecto, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cod, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cod, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :id_proyecto, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :id_proyecto, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                proyectos_path, :class => 'btn' %>
  </div>
<% end %>
