<h1>Listing proyectos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Cod</th>
    <th>Id contrato</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proyectos.each do |proyecto| %>
  <tr>
    <td><%= proyecto.nombre %></td>
    <td><%= proyecto.cod %></td>
    <td><%= proyecto.id_contrato %></td>
    <td><%= link_to 'Show', proyecto %></td>
    <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
    <td><%= link_to 'Destroy', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proyecto', new_proyecto_path %>
